/*--------- Google Font import -----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');


:root {
	/*---- colors -------*/
	--primary-color: Yellow;
	--secondary-color: Black;
	--third-color: rgb(97, 237, 247);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
}

img {
	width: 25%;
	height: auto;
}

.img-row {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 25px;
	margin-top: 75px;
}

.op-row {
	display: flex;
	justify-content: space-around;
	text-size-adjust: 10px;
	font-weight: lighter;
	font-style: normal;
}

.dp-row {
	display: flex;
	justify-content: space-around;
	margin-bottom: 25px;
}

h4 {
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-thickness: 2.5px;
	text-size-adjust: 10px;
	width: auto;
}

.container {
	padding: 60px 10px;
}

.container h3 {
	color: black;
}

.pos {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.btn {
	display: block;
	background-image: url(img/intro.jpg);
	box-shadow: 0 6px 5px rgb(0, 0, 0);
	border: none;
	border-radius: 0.2rem;
	padding: 1rem;
	cursor: pointer;
	transition: 0.3s;
	margin: auto;
}

.btn a {
	color: var(--secondary-color);
	font-size: 0.8rem;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}

.btn-row {
	display: flex;
	justify-content: space-evenly;
}

.btn-row .marg {
	margin-top: 80px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: solid;
}

/*---------- Top bar starts -----------*/
.top-bar {
	padding: 12px 20px;
	background-color: red;
}

.notification {
	color: white;
	font-size: 2rem;
	font-weight: 450;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}


iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	padding: 0;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 30px;
	align-self: center;
	justify-content: space-evenly;
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}


#myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*---------- Top bar ends -----------*/


/*------------------------------------------------*/
/*------------- Desktop size ---------------------*/
/*------------------------------------------------*/
@media screen and (min-width: 789px) {
	.container {
		padding: 5rem;
	}

	/*---------- Top bar starts -----------*/
	.top-bar {
		padding: 12px 20px;
	}

	.notification {
		font-size: 1rem;
	}

}

/*---------- Topics section start ----------*/
.topics {
	background: linear-gradient(rgb(241, 230, 230), rgb(255, 251, 0));
}

.topics-row .col {
	background-color: white;
	margin: 3rem 0rem;
	box-shadow: rgba(255, 55, 55, 0.849) 0px 10px 15px -3px, rgba(122, 255, 33, 0.74) 0px 4px 6px -2px;
}

.topics-row .col i {
	color: var(--secondary-color);
	background: var(--primary-color);
	font-size: 2rem;
	margin-bottom: 1rem;
	padding: 0.6rem;
	border: none;
	border-radius: 5px;
}

.topics-row .col .topic-heading {
	font-size: 1.2rem;
	font-weight: 600;
}

.topics-row .col .para-line {
	text-align: left;
	margin: 0;
	padding: 0;
}

.topic-btn-area {
	display: block;
	justify-content: center;
	margin-top: 35px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.topic-btn-area .btn {
	width: fit-content;
}

/*---------- Topics section end ----------*/


/*----------- Footer section end ------------*/



/*------------------------------------------------*/
/*------------- Desktop size ---------------------*/
/*------------------------------------------------*/
@media screen and (min-width: 789px) {
	.container {
		padding: 5rem;
	}

	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.row .col {
		width: 100%;
	}

	.heading {
		font-size: 2.4rem;
		text-align: center;
		margin-bottom: 2rem;
	}

	/*---------- Top bar starts -----------*/
	.top-bar {
		padding: 12px 20px;
	}

	.notification {
		font-size: 1rem;
	}

	/*---------- Top bar ends -----------*/


	/*---------- Header section start ----------*/
	.header {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(49, 30, 3, 0.5)), url(img/webinar-booking.jpg);
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.header>.container {
		height: 100vh;
		display: flex;
	}

	.header .container .row {
		gap: 5rem;
	}

	.header .container .row .header-content {
		width: 100%;
	}

	.header .container .row .header-form {
		width: 66%;
	}

	.header-content .subheading {
		text-align: left;
		color: black;
	}
	

	.header-content .main-heading {
		font-size: 3.2rem;
		font-weight: 600;
		text-align: left;
	}

	.header-content .main-heading span {
		color: var(--primary-color);
	}
	
	.para-line {
		text-align: left;
	}
	/*---------- Header section end ----------*/


	/*---------- Topics section start ----------*/

	.container .subheading2{
		text-align: center;
	}

	.topics .container .para-line {
		text-align: center;
		max-width: 80%;
		margin: 0 auto;
		font-size: 20px;
		text-justify: auto;
		
	}

	/*---------- Topics section end ----------*/

}
