/*--------- Google Font import -----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');


:root {
	/*---- colors -------*/
	--primary-color: Yellow;
	--secondary-color: Black;
	--third-color: rgb(97, 237, 247);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	padding: 60px 10px;
}

.container h3 {
	color: black;
}

.white {
	color: var(--third-color);
}

.btn {
	display: block;
	background-image: url(img/intro.jpg);
	box-shadow: 0 6px 5px rgb(0, 0, 0);
	border: none;
	border-radius: 0.2rem;
	padding: 1rem;
	cursor: pointer;
	transition: 0.3s;
	margin-top: 2.5rem;
}

.btn:hover{
	color: chartreuse;
}

.btn a {
	color: var(--secondary-color);
	font-size: 0.8rem;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}

.heading {
	color: var(--secondary-color);
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.1;
	text-align: center;
	margin-bottom: 5px;
}

/*---------- Top bar starts -----------*/
.top-bar {
	background-color: red;
}

.notification {
	color: white;
	background-attachment: fixed;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}

/*---------- Top bar ends -----------*/


/*---------- Header section start ----------*/
.header-back {
	background-image: url(img/intro.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-heading-subcon {
	color: black;
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1.2;
	text-align: left;
	padding: 26px 0;
}

.main-heading-subcon span {
	color: red;
}

.inner-row {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.para-line-co {
	color: black;
	margin-top: 20px;
	padding-bottom: 0px;
}
/*---------- Header section end ----------*/


/*---------- Topics section start ----------*/
.topics {
	background: linear-gradient(white, Yellow);
}

.topics-row .col {
	background-color: white;
	margin: 3rem 1rem;
	padding: 2rem;
	box-shadow: rgba(255, 55, 55, 0.849) 0px 10px 15px -3px, rgba(122, 255, 33, 0.74) 0px 4px 6px -2px;
}

.topics-row .col i {
	color: var(--secondary-color);
	background: var(--primary-color);
	font-size: 2rem;
	margin-bottom: 1rem;
	padding: 0.6rem;
	border: none;
	border-radius: 5px;
}

.topics-row .col .topic-heading {
	font-size: 1.2rem;
	font-weight: 600;
}

.topics-row .col .para-line {
	text-align: left;
	margin: 0;
	padding: 0;
}

.topic-btn-area {
	display: flex;
	justify-content: center;
}

.topic-btn-area .btn {
	width: fit-content;
}

/*---------- Topics section end ----------*/


/*----------- host section starts ----------*/
.host-feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}

.host-feature i {
	color: var(--secondary-color);
	background: var(--primary-color);
	font-size: 1.5rem;
	margin-bottom: 1rem;
	padding: 0.4rem;
	border: none;
	border-radius: 5px;
}

.host-feature .feature-name {
	font-size: 1.1rem;
	font-weight: 600;
}

/*----------- host section ends ----------*/


/*----------- Footer section start ------------*/
.footer .container {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(49, 30, 3, 0.5)), url(img/footer.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer .container .heading {
	color: white;
	margin-bottom: 25px;
}

.footer h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 16px;
	color: white;
}

.footer ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0;
	color: white;
}

.footer ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
}

.footer ul a:hover {
	opacity: 1;
	color: gold;
}


/*----------- Footer section end ------------*/



/*------------------------------------------------*/
/*------------- Desktop size ---------------------*/
/*------------------------------------------------*/
@media screen and (min-width: 789px) {
	.container {
		padding: 5rem;
	}

	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.row .col {
		width: 100%;
	}

	.heading {
		font-size: 2.4rem;
		margin-bottom: 1rem;
	}

	/*---------- Top bar starts -----------*/
	.top-bar {
		padding: 12px 20px;
	}

	.notification {
		font-size: 1rem;
	}

	/*---------- Top bar ends -----------*/


	/*---------- Header section start ----------*/
	.header {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(49, 30, 3, 0.5)), url(img/webinar-booking.jpg);
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.header>.container {
		height: 100vh;
		display: flex;
	}

	.header .container .row {
		gap: 5rem;
	}

	.header .container .row .header-content {
		width: 100%;
	}

	.header .container .row .header-form {
		width: 66%;
	}

	.header-content .subheading {
		text-align: left;
		color: black;
	}
	

	.header-content .main-heading {
		font-size: 3.2rem;
		font-weight: 600;
		text-align: left;
	}

	.header-content .main-heading span {
		color: var(--primary-color);
	}
	
	.para-line {
		text-align: left;
	}
	/*---------- Header section end ----------*/


	/*---------- Topics section start ----------*/

	.container .subheading2{
		text-align: center;
	}

	.topics .container .para-line {
		text-align: center;
		max-width: 55%;
		margin: 0 auto;
	}

	.topics-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.topics-row .col {
		padding: 3rem;
	}

	.topics-row .col .para-line {
		max-width: 100%;
		text-align: left;
	}

	/*---------- Topics section end ----------*/


	/*----------- host section starts ----------*/
	.host .container .row {
		gap: 3rem;
	}

	.host-img {
		border: none;
		border-radius: 8px;
	}

	.host-content-col .subheading,
	.host-content-col .heading {
		text-align: left;
	}

	.host-content-col .para-line {
		margin: 0;
		padding: 0;
	}

	.host-feature {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 1rem 0;
	}

	.host-feature i {
		font-size: 1.8rem;
		margin-bottom: 0;
	}

	.host-feature .feature-name {
		padding-left: 0.8rem;
	}

	/*----------- host section ends ----------*/


	/*----------- Testimonial section start -----------*/
	.testimonial .container .para-line {
		text-align: center;
		max-width: 60%;
		margin: 0 auto;
	}

	.testimonial-row {
		gap: 3rem;
	}

	.testimonial-row .col {
		padding: 3rem;
	}

	.testimonial-row .col img {
		width: 80px;
		height: 80px;
	}

	.testimonial-row .col .review-content {
		max-width: 100%;
	}

	.testimonial-row .col .testimonial-divider {
		border-bottom: 1px solid #8e44ad;
		padding: 0.5rem 0;
		width: 50px;
	}

	/*----------- Testimonial section end -----------*/


	/*----------- Footer section start ------------*/
	.footer {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(49, 30, 3, 0.8)), url(img/footer.jpg);
		background-position: center center;
	}

	.footer .container {
		padding: 8rem 0;
	}

	.footer .container .para-line {
		text-align: center;
		max-width: 50%;
	}

	/*----------- Footer section end ------------*/
}